# API Keys and Secrets
.env

# Environments
.venv/
venv/
ENV/

# Project Specific Outputs
pics/
outputs/
*.md
*.txt
*.json
# Note: If you want to keep README.md, use the line below instead:
# [!README.md]*.md

# Python internal files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Specific file ignore
viz.py